---
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
import MoreSection from "../components/MoreSection.astro";
import NavBar from "../components/NavBar.astro";
import ProcessSection from "../components/ProcessSection.astro";
import ServicesSection from "../components/ServicesSection.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/globals.css";
---

<Layout>
  <NavBar />
  <Hero />
  <!-- <div class="block"></div> -->
  <MoreSection />
  <ServicesSection />
  <ProcessSection />
  <div class="block"></div>
  <Footer />
</Layout>

<style>
  .block {
    height: 1000px;
  }
</style>
