---
import Button from "../components/Button.astro";
import Counter from "../components/Counter.astro";
import FeatureTitle from "../components/FeatureTitle.astro";
import Footer from "../components/Footer.astro";
import ProcessCard from "../components/ProcessCard.astro";
import ServicesCard from "../components/ServicesCard.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/globals.css";
---

<Layout>
  <div class="block"></div>
  <Counter />
  <FeatureTitle title="Our Services" />
  <ServicesCard />
  <Button mode="light" title="learn more" />
  <Button mode="dark" title="learn more" />
  <FeatureTitle title="Our Process" />
  <ProcessCard />
  <div class="block"></div>
  <Footer />
</Layout>

<style>
  .block {
    height: 1000px;
  }
</style>
