---
import Layout from "../layouts/Layout.astro";
import "../styles/globals.css";
---

<Layout>
  <!-- <Welcome /> -->
  <p class="test">styles</p>
</Layout>

<style>
  .test {
    color: hsl(var(--color-highlight));
  }
</style>
