<section class="counters">
  <div>
    <div class="counter">
      <h1><span data-count="24">0</span>+</h1>
      <h2 class="counter-text">Years Experience</h2>
    </div>

    <div class="counter">
      <h1><span data-count="200">0</span>+</h1>
      <h2 class="counter-text">Bores Installed</h2>
    </div>

    <div class="counter">
      <h1><span data-count="15">0</span>+</h1>
      <h2 class="counter-text">Drill Rigs</h2>
    </div>

    <div class="counter">
      <h1><span data-count="220">0</span>+</h1>
      <h2 class="counter-text">Satisfied Customers</h2>
    </div>
  </div>
</section>

<style>
  .counters {
    padding-top: 3em;
    background: hsl(var(--color-mint));
    color: hsl(var(--color-navy));
    text-align: center;
  }

  .counters > div {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5em;
  }

  .counter {
    position: relative;
  }

  .counter:not(:last-child)::before {
    content: "";
    background: hsl(var(--color-navy));
    position: absolute;
    width: 2px;
    height: 5em;
    top: 50%;
    transform: translateY(-50%);
    right: -3em;
  }

  /* media queries */
  @media screen and (max-width: 900px) and (min-width: 577px) {
    .counters > div {
      grid-template-columns: 1fr 1fr;
    }
    .counter:nth-child(2)::before {
      /* as the counter wraps, this avoids the divider being visible on the end */
      display: none;
    }
  }

  @media screen and (max-width: 576px) {
    .counters {
      padding-top: 2em;
    }
    .counters > div {
      grid-template-columns: 1fr;
      padding-inline: 2em;
      row-gap: 5em;
    }
    .counter:not(:last-child)::before {
      width: 60%;
      height: 2px;
      top: initial;
      right: initial;
      bottom: -3em;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  span {
    margin-right: 0.08em;
  }

  .counter-text {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const counters: NodeListOf<HTMLSpanElement> =
      document.querySelectorAll(".counters span");
    const container: HTMLDivElement | null =
      document.querySelector(".counters");
    let activated = false;

    if (!container) return;

    window.addEventListener("scroll", () => {
      const triggerPoint = container.offsetTop - container.offsetHeight - 500;
      const scrollY = window.scrollY;

      if (scrollY > triggerPoint && !activated) {
        counters.forEach((counter) => {
          let count = 0;
          const target = parseInt(counter.dataset.count || "0");

          const updateCount = () => {
            if (count < target) {
              counter.innerText = (++count).toString();
              setTimeout(updateCount, 10);
            }
          };

          counter.innerText = "0";
          updateCount();
        });
        activated = true;
      } else if (scrollY < triggerPoint - 300 || scrollY === 0) {
        counters.forEach((counter) => (counter.innerText = "0"));
        activated = false;
      }
    });
  });
</script>
