---
interface Props {
  title: string;
  id?: string;
}

const { title, id } = Astro.props;
const value = title.split(" ");
---

<div class="title" id={id}>
  <div class={"title-" + value}>
    {
      value.map((val) => (
        <div class="heading-wrapper">
          <h2 class="heading">{val}</h2>
        </div>
      ))
    }
  </div>
</div>

<style>
  /* .title { */
  /* padding-left: 4rem;*/
  /* margin: 24px; */
  /* margin: 4rem 2rem 2rem 2rem; */
  /* padding: 4rem 2rem 2rem 2rem; */
  /* } */

  .heading-wrapper {
    margin-top: -24px;
  }
  .heading {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 56px;
  }
</style>
