<header>
  <div class="container">
    <h1 class="logo">LOGO</h1>
    <nav>
      <ul class="nav-items">
        <li><a href="" class="nav-link">Home</a></li>
        <li><a href="" class="nav-link">About</a></li>
        <li><a href="" class="nav-link">Services</a></li>
        <li>
          <a href="" class="nav-link">Contact us</a>
        </li>
      </ul>
    </nav>
    <button class="burger-button" aria-label="Toggle menu" type="button">
      <span class="burger-top"></span>
      <span class="burger-bottom"></span>
    </button>
  </div>
</header>

<style is:global>
  body:has(.burger-button.active) {
    overflow: clip;
  }
</style>

<style>
  header {
    position: relative;
    padding: 1em 0;
    background-color: hsl(var(--color-navy));

    &:has(.burger-button.active) {
      z-index: 1000;
      position: sticky;
      top: 0px;
    }
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    max-width: 1000px;
    margin: 0 auto;
  }

  .logo {
    font-size: 1.5rem;
    color: hsl(var(--color-off-white));
  }

  .burger-button {
    display: none;
    background-color: inherit;
    height: 28px;
    width: 28px;
    margin-left: auto;
    z-index: 1000;
    border: none;

    span {
      height: 2px;
      width: 100%;
      background-color: hsl(var(--color-off-white));
      border-radius: 25px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition:
        transform 0.3s ease,
        background-color 0.3s ease;
      will-change: transform, background-color;
    }

    &.active span {
      background-color: hsl(var(--color-off-white));
    }

    span:nth-child(1) {
      top: 25%;
    }

    span:nth-child(2) {
      top: 60%;
    }

    &.active span:nth-child(1) {
      top: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &.active span:nth-child(2) {
      top: 50%;
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

  .nav-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 0.02rem;
    font-weight: 300;
    list-style: none;
  }

  .nav-link {
    padding: 0px 16px;
    font-size: rem;
    color: hsl(var(--color-off-white));
    text-decoration: none;
  }

  .nav-link:hover:not(.btn) {
    color: red;
    /* change the colour of this 
		could I also add a fun animation to underline the link?
		*/
  }

  nav {
    display: flex;
  }

  /* media queries */
  @media screen and (max-width: 480px) {
    .nav-items {
      z-index: 1000;
      /* background-color: #192d36; */
      background-color: hsl(var(--color-navy));
      color: hsl(var(--color-off-white));
      height: 100vh;
      width: 100vw;
      position: fixed;
      top: 0px;
      left: 100vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      text-transform: uppercase;
      transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
      overflow-y: auto;
      letter-spacing: 0.1em;
      will-change: transform;
      font-weight: 500;

      &.active {
        transform: translateX(-100vw);
        transition-duration: 600ms;
        line-height: normal;
        gap: 2lh;
        padding: 0;
        list-style: none;
      }

      .nav-link {
        font-size: 2rem;
        color: inherit;
      }
    }

    .burger-button {
      display: block;
      position: absolute;
      /* top: 1em; */
      right: 1em;
    }
  }
</style>

<script>
  const burgerMenuButton = document.querySelector(".burger-button");
  const offScreenMenu = document.querySelector(".nav-items");

  burgerMenuButton?.addEventListener("click", () => {
    burgerMenuButton.classList.toggle("active");
    offScreenMenu?.classList.toggle("active");
  });
</script>
