---
import FeatureTitle from "./FeatureTitle.astro";
import ServicesCard from "./ServicesCard.astro";
---

<section class="our-services">
  <FeatureTitle title="Our Services" />
  <div class="services-grid">
    <div class="image-wrapper">placeholder for image</div>
    <ServicesCard />
  </div>
</section>

<style>
  .our-services {
    border: 3px solid yellow;
  }

  .services-grid {
    border: 3px solid green;
    display: grid;
    grid-template-columns: 40% 60%;
    margin: 4rem;
  }

  .image-wrapper {
    background-color: hsl(var(--color-mint));
  }
</style>
